html{
   position:relative; 
   min-height: 100%;
}

.round-btn-outer {
  margin-top:37%; 
  width: 180px; 
  height: 180px; 
  -webkit-border-radius: 50%;
  -moz-border-radius:50%;
  border-radius: 50%; 
}
.round-btn-inner {
    margin-left:2.5%; 
    margin-top:2.5%; 
    width: 95%; 
    height: 95%; 
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.round-btn-img {
    margin-left:6%; 
    margin-top:6%; 
    height:150px;
}
.custom-footer{
  margin-top: 20px; 
  padding-top: 10px;
  padding-bottom: 0px;
  bottom:0; 
  position: absolute; 
  width: 100%; 
  z-index: 1; 
  background: white;
}
.imgContainer{
  height:300px;
  width:300px;
}